


a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

body{
  background-color:black;
  color: white;
  text-decoration: none;

}

#indexbody{
  background-color:white;
  color: white;
  text-decoration: none;

}


#slideshow {
  position: fixed; /* Fixe la vidéo en arrière-plan */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place la vidéo en dessous de tout */
  overflow: hidden;
}

/* Style de la vidéo */
#slideshow video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Couvre tout l'écran sans déformer la vidéo */
}

/* Style du header pour le maintenir au-dessus */
#indexheader {
  position: relative; /* Peut aussi être fixed ou absolute si nécessaire */
  z-index: 1; /* Assure que le header est au-dessus de la vidéo */
  width: 100%;
  background-color: transparent; /* Pas de fond */
  color: white;
  mix-blend-mode: difference;
}
#indexheader ul li{
  text-transform: uppercase;
  font-size: 1.1em;
    color: inherit;

}
header{
  
  top: 20px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  font-family: sans-serif;
}

#logo{
  height: 60px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 30px;
}

#logo img{
  height: 100%;
}


header ul{
  width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

header ul li{
  text-transform: uppercase;
  font-size: 1.1em;

}

figcaption{
  font-size: 100px;
}
footer{
  
font-size: 20px;
  width: 100vw;
  text-align: center;
 padding: 10px 0px;
  font-family: sans-serif;
  margin-top: 50;
  color: grey;
}


.titre{ 
font-size: 100px;
 }
/* 
page intro projet et divers
 */


#content-large{
  width: 80vw;
  margin: 200px auto 100px;
}

.ligne{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom:10%;



}

.ligne article{
  width: calc(33.33% - 20px);
  margin-bottom: 10px;
  
}

.ligne article figure{
  width: 100%;
  height: 20vw;
  margin-bottom: 5px;
 
  overflow: hidden;
  border-radius: 10px;
}



.ligne article figure img{
  width: 100%;
  transition: transform 0.3s ease;
}
.ligne article figure img:hover {
    transform: scale(1.1); /* Zoom à 110% */

}
.zoomable {
    opacity: 0;
    transform: translateY(50px); /* Décalage vers le bas pour l'effet de montée */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out; /* Transition plus lente pour une apparition douce */
}

.zoomable:hover {
    transform: scale(1.05); /* Un zoom léger au survol pour garder l'effet subtil */
}

.zoomable.visible {
    opacity: 1;
    transform: translateY(0); /* Reprend sa position initiale */
}



.ligne article h5{
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: px;
  font-family: sans-serif;
}

.ligne article h6{
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: sans-serif;
}



figure img{
  width: 100%;
}

/*
page projet
*/



#conteneurproj{
  border: 1px;
  width: 100vw;
  padding-top: 100px;
}

#introprojet{
  width: 50vw;
  height: 300px;
  border: 1px;
}

      #introprojet h2{
        font-size: 3em;
        text-transform: uppercase;
        margin-top: 2em;
        margin-left: 20px;
        font-family: sans-serif;
      }

      #introprojet h3{
        font-size: 2em;
        margin-left: 20px;
        margin-top: 10px;
        font-family: sans-serif;
      }

      #introprojet h4{
        font-size: 1.5em;
        text-transform: uppercase;
        margin-top: 0.3em;
        margin-left: 20px;
        font-family: sans-serif;
        color: grey;

      }


.imageentiere{
  width: 100vw;
}

.video #animDMDM {
  width: 100%;
}


#contenueclat{
  width: 100%;
  margin: auto;

}

.contenuprojet{
  width: 75vw;
  margin: auto;

}

.ligneprojet{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}



.deuxligneprojet{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 150px;
}


 .ligneprojet .deuxcolonnes{
  width: 500px;
  border: 1px solid black;
  margin: 100px;
  overflow: hidden;
  line-height: 1.2em;
  font-family: sans-serif;
  }



.ligneimages .figure{
  width: 1vw;
  margin: auto;

}

#grandeligneprojet{
  width: 75vw;
  margin: auto;

}






.ligneprojet figure{
  width: 500px;
  height: 600px;
}



.troisligneprojet {
  width: 500px;
  height: 400px;
  margin-top: 50px;
}


#conteneurproj nav {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;  /* Espacer les liens */
  align-items: center;             /* Centrer verticalement */
  width: 100%;                     /* Utilise 100% de la largeur du parent */
  margin: auto;                    /* Centrer le nav horizontalement */
  font-family: sans-serif;
  font-size: 50px;
}

.circle-link {

  display: inline-flex;            /* Utilisation de flexbox pour centrer le texte dans le cercle */
  align-items: center;             /* Centrer verticalement */
  justify-content: center;         /* Centrer horizontalement */
  width: 60px;                     /* Taille du cercle */
  height: 60px;
  border-radius: 50%;              /* Forme circulaire */
  background-color: #333;          /* Couleur de fond */
  color: white;                    /* Couleur du texte */
  font-size: 30px;                 /* Augmenter la taille du texte */
  text-decoration: none;           /* Enlever le soulignement */
  transition: transform 0.3s ease; /* Animation au survol */
  margin: 0 20px;                  /* Espacement entre les cercles */
}

.circle-link:hover {
  transform: scale(1.1);           /* Ajouter un effet de zoom au survol */
}



#content-small {
    display: none;
}

/* Afficher le contenu grand écran par défaut */
#content-large {
    display: block;
}

#petitconteneurproj {
    display: none;
    visibility: visible !important;
}

/* Afficher le contenu grand écran par défaut */
#grandconteneurproj {
    display: block;
}

#video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50vw; /* Ajuste la largeur pour qu'elle s'intègre dans la mise en page */
  max-width: 500px; /* Limite la taille maximale pour éviter qu'elle ne prenne trop d'espace */
}

.video iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9; /* Conserve le ratio d'aspect pour la vidéo */
  border-radius: 8px; /* Donne un petit arrondi pour un effet esthétique */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Ajoute une ombre pour mieux intégrer la vidéo dans la page */
  overflow: hidden;
}







.mobile-warning {
  display: none; /* Par défaut, la fenêtre est cachée */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
 .mobile-warning p {
      font-size: 50px; 
      font-family: sans-serif;
    }

@media (max-width: 768px) { /* Si l'écran est petit, par exemple moins de 768px */
  .mobile-warning {
    display: flex; /* Affiche la fenêtre */
  }
}






